@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    font-family: Microsoft YaHei;
    /*font-family: 'Nanum Gothic', sans-serif;*/
}

html, body {
    margin: 0;
    padding: 0;
    background-image: url('./image/flame_chaser.png');
    background-size: cover;
}

.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.img_title {
    width: 50%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(35, 35, 35);
    width: 35%;
    border-radius: 5px;
}

.login_title {
    color: #cecfd1;
}

.input {
    width: 70%;
    height: 50px;
    margin: 15px;
    font-size: 18px;
    border-radius: 5px;
}

.login_button {
    width: 75%;
    height: 60px;
    margin: 20px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #556ad0;
}

.login_button:hover {
    background-color: rgb(51, 0, 255);
}

.login_button:active {
    background-color: rgba(0, 81, 255, 0.953);
}

.text {
    color: #76777f;
    width: 35%;
    font-size: 15px;
}

.next-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#next {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.other_login {
    color: #505561;
    font-size: 20px;
    margin: 15px;
    display: flex;
    justify-content: center;
}

.img {
    width: 40px;
    height: 40px;
    margin: 15px;
}